<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog New Form</title>
</head>
<body>
    <h1>Blog new form</h1>
    <form action="/blogs/create" method = "POST">
    {% csrf_token %}
    <p>Blog Name:<input type="text" name = "name"></p>
    <p><textarea name="desc" placeholder="description"></textarea></p>
    <p><input type="submit" value ="Obey"></p>
    </form>
</body>
</html>