<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Standard Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'standard/css/style.css' %}">
</head>
<body>
    <div id = "rapper">
            <h1>Welcome to my <span id ="unchained">Django</span> Project!</h1>
            <h2>Below are a list of the apps available to you</h2>
            <ul>
                <li><a href="/blogs/">Blogs App</a></li>
                <li><a href="/books/">Books App</a></li>
                <li><a href="/time_display/">Time Display App</a></li>
                <li><a href="/random_word/">Random Word App</a></li>
                <li><a href="/session_words/">Session Words App</a></li>
                <li><a href="/amadon/">Amadon E-commerce App</a></li>
                <li><a href="/gold/">Ninja Gold Game</a></li>
                <li><a href="/user_login/">User Login Form</a></li>
                <li><a href="/book_authors/">Book Authors</a></li>

            </ul>
    </div>
</body>
</html>