<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Form</title>
</head>
<body>
    <h1>Animal Form</h1>

    <form action="/session_words/jungle/" method="POST">
        {% csrf_token %}
        <p> <label for="species">Species: </label> <input type="text" name="species" id ="species"></p>

        <p>  <label for="small">Small</label> <input type="radio" name= "size" id ="small" value ="small">  </p>
        <p>  <label for="medium">medium</label> <input type="radio" name= "size" id ="medium" value ="medium">  </p>
        <p>  <label for="large">large</label> <input type="radio" name= "size" id ="large" value = "large">  </p>

        <p> <label for="flying">Flying</label> <input type="checkbox" name = "fly" id ="flying" value="flying"></p>
        <p> <label for="swimming">Swimming</label> <input type="checkbox" name = "swim" id ="swimming" value="swimming"></p>
        <p> <label for="walking">Walking</label> <input type="checkbox" name = "walk" id ="walking" value="walking"></p>



        <p><input type="submit" name="submission" value="learn"></p>

    </form>
</body>
</html>